<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />

    <style id="page_style">
      @page {
        size: 920px 1500px;
        margin: 0px;
      }
    </style>

    <style>
      *,
      root,
      html,
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-print-color-adjust: exact;
        color: #000;
      }

      .content {
        width: 920px;
        height: 1500px;
        padding: 80px 80px;
      }

      .tasks_list li {
        margin-top: 24px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <ul class="tasks_list">
        {{#each tasks}}
          <li>
            <p>ID: {{id}}</p>
            <p>Nome: {{name}}</p>
            <p>Status: {{status}}</p>
            <p>Inicio: {{start_date}}</p>
            <p>Término: {{end_date}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
